<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" >
	<title></title>


	{% block cssadicional %}

	{% endblock %}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/styles.css?v=2{{ BUILD_ID }}"/>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/blocks_styl.css?v=2{{ BUILD_ID }}"/>
</head>

<body class="{% block classbody %}{% endblock %}">

			{% block content %}
			{% endblock %}

	<script src="{{ STATIC_URL }}js/jquery-3.2.0.min.js" type="text/javascript"></script>
		<script src="{{ STATIC_URL }}js/mg/jquery.clipboard.js" type="text/javascript"></script>
	<script src="{{ STATIC_URL }}js/mg/general.js" type="text/javascript"></script>
	{% block jsfinal %}
	{% endblock %}

	<script type="text/javascript">

	</script>
</body>
</html>
