<footer class="footer">
    <!-- creditos -->
    <section class="footer-copy">
        <div class="wancho">
            <div class="footer-copy-left">
                <p>Copyright <span id="id_year"></span> - Empresa. Todos los derechos reservados. </p>
            </div>
            <div class="footer-copy-right">
                <a class="link-staff" target="_blank" href="http://www.staffdigital.pe/">Diseño<strong class="staffteam">staffdigital</strong></a>
            </div>
        </div>
    </section>
</footer>
