<header class="header">
    <div class="wancho header-ctn">
        <a href="home.html" class="header-logo">
            <img src="{{ STATIC_URL }}media/darwin.png" alt="" width="50" height="50">
        </a>
        <nav class="menu">
            <div class="menu-wrap">
                <ul class="menu-list"> <!-- "menu-list" es usado para el menu responsive -->
                    <li class="menu-item"><a href="" class="menu-link active">nosotros</a></li>
                    <li class="menu-item"><a href="" class="menu-link">servicios</a></li>
                    <li class="menu-item"><a href="productos.html" class="menu-link">productos</a></li>
                    <li class="menu-item"><a href="" class="menu-link">contácto</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>
