{% extends "common/_base.html" %}

{% block cssadicional %}
{% endblock %}

{% block classbody %}{% endblock %}

{% block content %}
	<section class="b1">
		<h2>titulo</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, repellat doloremque, ut temporibus maiores odio, optio amet quas repudiandae qui inventore, est quaerat perspiciatis sunt nisi voluptas dolorum quo debitis?</p>
	</section>
{% endblock %}
{% block jsfinal %}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp{{ GOOGLE_APIKEY }}"></script>
{% endblock %}