{% extends "common/_base.html" %}

{% block cssadicional %}
<style type="text/css">
	.ajxCats.active{
		color: green;
	}

</style>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/slick.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/slick-theme.css">
{% endblock %}

{% block classbody %}{% endblock %}

{% block content %}
<section class="wancho">
	<div class="header">
		<h1>Productos</h1>
	</div>
	<div class="prodContent" style="width: 100%">
		<aside style="width: 30%; display: inline-block !important;vertical-align: top;">
			<ul>
				<li><a class="ajxCats active" href="{{ STATIC_URL }}twig/responses/productos-mesitas.json">Cat Mesitas</a></li>
				<li><a class="ajxCats" href="{{ STATIC_URL }}twig/responses/productos-lavadoras.json">Cat Lavadoras</a></li>
				<li><a class="ajxCats" href="{{ STATIC_URL }}twig/responses/productos-licuadoras.json">Cat Licuadoras</a></li>
			</ul>
		</aside>
		<div style="width: 69%; display: inline-block !important;">
			<div style="width: 100%;" id="lstProdContent">
			</div>
		</div>
	</div>
</section>
{% endblock %}

{% block jsfinal %}
<script src="{{ STATIC_URL }}js/slick.js"></script>
<script src="{{ STATIC_URL }}twig/twig.min.js"></script>
<script type="text/javascript">
	var twig = Twig.twig;

    twig({
        id: 'ajaxProds',
        href: '{{ STATIC_URL }}twig/templates/productos.twig',
        async: true,
        load: function(template) {}
    });
    twig({
        id: 'ajaxProd',
        href: '{{ STATIC_URL }}twig/templates/producto.twig',
        async: true,
        load: function(template) {}
    });

    function twigRender(data,tmpl){
        var renderTemplate = twig({ ref: tmpl });
        $('#lstProdContent').html(renderTemplate.render(data));
    }

    $('.ajxCats').click(function(e){
    	$('.ajxCats').removeClass('active');
    	$(this).addClass('active');
    	e.preventDefault();
        var uri = $(this).attr('href');
        $.ajax({
            url: uri,
            type: 'GET',
            dataType: 'json',
        })
        .done(function(data) {
        	twigRender(data,'ajaxProds');
        	//console.log(data);
        });
    });

   $('.ajxCats.active').trigger('click');

</script>
{% endblock %}
